.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 background-image: #37283d !important;
}

.login-card {
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
}



// Hover, focus,    efectos(pseudo-clases) 

