    <div class="flex flex-wrap pb-5 py-2 items-start min-w-[400px] justify-center mt-4 px-6 gap-4 text-white rounded-lg">
   <div class="flex-1   text-white">
     <div class="flex justify-between items-start mb-2">
            <h3 class="text-lg font-semibold mb-2">Siguiendo</h3>
      <button class="h-6 w-6 text-white" (click)="close()" ><i class="ti ti-x text-[20px]"></i></button>

    </div>

  @for (item of usuariosStatusFollow(); track $index) {
     @if(_globalService.isMyProfile | async){
             @if(item.isFollowing){
                  <div class="flex items-center my-3 gap-4  justify-between w-full">
       <div class="flex my-1">
              <img src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png" alt="Avatar" class="w-14 h-14  cursor-pointer rounded-full object-cover">
      <div class="ml-4 flex justify-between gap-10 items-center max-w-[350px]">
        <div class="max-w-[190px] text-wrap">
          <h2 class="text-md font-semibold cursor-pointer" [routerLink]="item.username" (click)="_dialogRef.close()">
            {{item?.firstName}}   {{item?.lastName}} 
        </h2>
        <p class="text-sm text-gray-400">
          {{item?.username}}
        </p>
        </div>
      </div>
       </div>
            @if(!item.isFollowing){
        @if(!item.isOwnProfile){
        <button mat-raised-button color="primary" class="" (click)="seguir(item)">Seguir </button>
        }
      }
        @else {
        <button matButton="outlined" class=" xd" (click)="dejarSeguir(item)">Siguiendo </button>
      }
    </div>
       }
     }@else {
          <div class="flex items-center my-3 gap-4  justify-between w-full">
       <div class="flex my-1">
              <img src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png" alt="Avatar" class="w-14 h-14  cursor-pointer rounded-full object-cover">
      <div class="ml-4 flex justify-between gap-10 items-center max-w-[350px]">
        <div class="max-w-[190px] text-wrap">
          <h2 class="text-md font-semibold cursor-pointer" [routerLink]="item.username" (click)="_dialogRef.close()">
            {{item?.firstName}}   {{item?.lastName}} 
        </h2>
        <p class="text-sm text-gray-400">
          {{item?.username}}
        </p>
        </div>
      </div>
       </div>
            @if(!item.isFollowing){
        @if(!item.isOwnProfile){
        <button mat-raised-button color="primary" class="" (click)="seguir(item)">Seguir </button>
        }
      }
        @else {
        <button matButton="outlined" class=" xd" (click)="dejarSeguir(item)">Siguiendo </button>
      }
    </div>
     }
      }

  </div>
    </div>
 